include INSTALL
include LICENSE
include LICENSE.python
include MANIFEST.in
include *.rst
include prepare.py
graft extras
graft js_tests
graft scripts
prune tests
prune __pycache__
prune .pytest_cache
prune *.py[co]
